@font-face {
  font-family: yofont;
  src: url("/createT/images/iconfont/iconfont.woff") format("woff"), url("/createT/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/createT/images/iconfont/iconfont-menu.woff") format("woff"), url("/createT/images/iconfont/iconfont-menu.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/createT/images/iconfont/iconfont-tw.woff") format("woff"), url("/createT/images/iconfont/iconfont-tw.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/createT/images/iconfont/iconfont-th.woff") format("woff"), url("/createT/images/iconfont/iconfont-th.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/createT/images/iconfont/iconfont-ac.woff") format("woff"), url("/createT/images/iconfont/iconfont-ac.ttf") format("truetype");
}
